.layout {
    background: var(--background-color);
    height: 100vh;
    display: flex;
}

.router {
    transition: all .3s ease-in-out;
    margin-top: 2rem;
    width: 100%;
    padding: 0 30px;
}